<div class="row" >
    <div class="col-sm-12">
        <div class="container-fluid" >
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="col-md-1" style="align-content: center"><img src="/assets/images/coffee.png" style="width:50px;height: 50px;">
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">BIS Coff. Naja</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>

                        <li><a href="#">History</a></li>
                        <li><a href="#">Objective</a></li>
                        <li><a href="#">Goal</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Laboratory
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Phu Khon mountion</a></li>
                                <li><a href="#">Phu Pha wallay</a></li>
                                <li><a href="#">Phu Pearng land</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div>
                <ul class="nav navbar-nav navbar-right">
                    @if(session.get("uid") == null){
                        <form action="/authen" method="POST">
                                <input type="text" name="uid" size="10" placeholder="Enter your id">
                                <input type="password" name="upass" size="10" placeholder="Enter your password">
                                <input type="submit" value="Login">
                        </form>
                        @if(flash.containsKey("errLogin")){
                            <b style="color: red">@flash.get("errLogin") </b>
                        }
                        <a href="/singup"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                    }else{
                        <b style="color: yellow">
                            Logged by: @session.get("uid") @session.get("uname"), Status: @session.get("ustatus")
                        </b>
                        <a href="/logout"><span class="glyphicon glyphicon-user"></span> Log Out</a>
                    }

                </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
