<br><br>
<form action="/postRoom" method="POST">
    <table class="table table-stripe">
        <tr>
            <td>หมายเลขห้อง </td>
            <td><input type="text" name="id" size="10" maxlength="8"> </td>
        </tr>
        <tr>
            <td>ชื่อห้อง </td>
            <td><input type="text" name="name" size="40" maxlength="40"> </td>
        </tr>
        <tr>
            <td>จำนวนที่นั่ง </td>
            <td><input type="number" name="amount" size="10" maxlength="4"> </td>
        </tr>
        <tr>
            <td>สีห้อง </td>
            <td><input type="color" name="color"> </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="บันทึก">
                <input type="reset" value="ยกเลิก">
            </td>
        </tr>
    </table>





</form>
