@(myForm:Form[NoteBook], publisherList: List[Publisher])
@import helper._;

<BR><BR>
<h1> Add New Note Book </h1>
@if(flash.containsKey("msgError")){
    <div class="alert alert-danger" style="width: 500px">
        <strong>ผิดพลาด!</strong> @flash.get("msgError").
    </div>
}

@helper.form(action=routes.Application.noteBookSave(), 'class->"from-control"){
    @inputText(myForm("id"), '_label ->"รหัสหนังสือ", 'size->"5", 'maxlength->"5", 'required->"requied")
    @inputText(myForm("title"), '_label ->"ชื่อเรื่อง", 'size->"50", 'maxlength->"50", 'required->"requied")
    @inputText(myForm("author"), '_label ->"ชื่อผู้แต่ง", 'size->"50", 'maxlength->"50", 'required->"requied")
    @inputText(myForm("pages"), '_label->"จำนวนหน้า", 'size->"5", 'required->"requied",
        'pattern->"[1-9]{1}[0-9]{0,3}", 'title->"กรุณาป้อนตัวเลขไม่เกิน 4 หลัก" )
    @inputText(myForm("price"), '_label->"ราคา", 'size->"7", 'required->"requied",
        'pattern->"[1-9]{1}[0-9,.]{0,6}", 'title->"กรุณาป้อนตัวเลขไม่เกิน 7 หลัก" )

    @select(myForm("publisher.id"),
        options=publisherList.map(pb=> pb.getId->pb.getName()), '_label -> "สำนักพิมพ์")


    <input type="submit" value="บันทึก" class="btn btn-success">
    <input type="reset" value="เคลียร์" class="btn btn-danger">
}
